@import "variables";
/* ANIMACIONES */ 
.underline {
	position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: 6px;
        left: 8px;
        width: 85%;
        height: 2px;
        border-radius: 4px;
        background-color: $color-secondary;
        
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    &:hover{
        &::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}