@import "variables";
/* ANIMACIONES */ 
.underline {
	position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: 6px;
        left: 8px;
        width: 85%;
        height: 2px;
        border-radius: 4px;
        background-color: $color-secondary;
        
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    &:hover{
        &::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

.latido {
	-webkit-animation: scale-up-center 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s infinite both;
            animation: scale-up-center 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s infinite both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }