@import "variables";

/**********  M  E  D  I  A     Q  U  E  R  I  E  S  **********/



/* SMARTPHONE */
@media (max-width: 480px){

	/* C O N T A C T O */

    .wrapper__formulario{
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(3, minmax(min-content,max-content));
        grid-template-areas: 
            "titulo      titulo     "
            "formulario  formulario "
            "ubicacion   ubicacion";
        grid-column: 1/2;
        grid-row: 3/9;
        form{
            div{
                &:nth-child(4),
                &:nth-child(5){
                    margin: 0 auto;
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    .wrapper__datos__direccion{
		flex-direction: column;
	}

    .ubicacion__datos, 
    .ubicacion__direccion{
		padding-left: 30px;
	}
}


/* TABLET */
@media (min-width: 481px) and (max-width: 768px) {
	/* C O N T A C T O */
	.wrapper__formulario{
		grid-template-columns: repeat(2,50%);
		grid-template-rows: repeat(3, minmax(min-content,max-content));
		grid-template-areas: 
			"titulo      titulo     "
			"formulario  formulario "
			"ubicacion   ubicacion";
		grid-column: 1/2;
		grid-row: 4/9;
	}
	.ubicacion__datos{
		padding-left: 30px;
	}
}

@media screen and (max-width: 768px) {
	.boton-second{
		width: 9em;
	}

    .navbar-nav{
        .dropdown-menu{
            position: absolute;
            left: 80px;
        }
    }

    .header{
        .cajon{
            height: 40%;
            text-align: center;
            h1{
                font-size: 1.9em;
            }
            h3{
                font-size: 1.1em;
            }
            p{
                font-size: .6em;
                text-align: center;
            }
            .boton-principal{
                transform: scale(1.6, 1.6);
            }
            a{
                font-size: .4em;
            }
        }
        img{
            width: 100%;
        }
    }

    .nosotros__header,
    .servicios__header,
    .contacto__header{
        .cajon{
            h1{
                font-size: 1.8em;
            }
            p{
                font-size: .75em;
            }
            .boton-principal{
                margin-top: 30px;
                margin-left: 4em;
                transform: scale(1.4, 1.4);
            }
        }
    }

    .promociones{
        h2{
            font-size: 1.6em;
        }
        .card-title{
            font-size: 1.025em;
        }
        .card-text{
            font-size: .6em;
        }
        .card-body{
            a{
                font-size: .6em;
            }
        }
    }

    .calidad{
        .cuerpo__calidad{
            height: 12em;
            >p{
                font-size: .6em;
            }
            h3{
                font-size: 1.125em;
                +p{
                    font-size: .8em;
                }
            }
            a{
                font-size: .6em;
            }
        }
        .wrapper{
            >div{
                margin-bottom: 6.5em;
            }
        }
        h2{
            padding: 0 10px;
            font-size: 1.6em;
        }
    }
    .img__calidad{
		height: 12em;
	}
    .nosotros__header{
		max-height: 700px;
	}
	#nosotros{
		margin-top: 20px;
	}
    .clientes{
        h2,
        .fa-thumbs-up{
            font-size: 1.6em;
        }
        .carousel-control-next{
            margin-right: -10px;
        }
        .carousel-control-prev{
            margin-left: -10px;
        }
    }
    .contenedor{
        h2{
            font-size: 1.4em;
        }
        h4{
            font-size: 1.2em;
        }
        p{
            font-size: .62em;
        }
        .wrapper{
            &>p{
                font-size: .55em;
            }
        }
    }
    .wrapper__formulario{
        .titulo__enlaces{
            h2{
                font-size: 1.25em;
            }
            p{
                font-size: .6em;
            }
        }
    }
    .ubicacion{
        ul{
            padding-left: 15px;
        }
        .ubicacion__direccion{
            width: 100%;
            p{
                padding-left: 15px;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 991px){
    .header{
        .img-header{
            margin: 0 auto;
            width: 50%;
            max-width: 450px;
            height: 50%;
        }
    }
}


@media screen and (min-width: 769px) and (max-width: 991px){
    .header{
        .cajon{
            align-items: center;
            h1{
                font-size: 1.9em;
            }
            h3{
                font-size: 1em;
            }
            p{
                font-size: .6em;
                text-align: center;
            }
            .boton-principal{
                transform: scale(1.5, 1.5);
            }
        }
    } 
    
    .nosotros__header,
    .servicios__header,
    .contacto__header{
        .cajon{
            h1{
                font-size: 1.7em;
            }
            p{
                font-size: .6em;
            }
            .boton-principal{
                margin-top: 30px;
                margin-left: 3.2em;
                transform: scale(1.2, 1.2);
            }
        }
    }
	.promociones{
		min-height: 100vh;
        h2{
            font-size: 1.4em;
        }
	}
	.calidad{
		margin-top: 0;
        h2{
            font-size: 1.4em;
        }
	}
    .clientes{
        h2{
            font-size: 1.4em;
        }
        .carousel-control-next{
            margin-right: 50px;
        }
        .carousel-control-prev{
            margin-left: 50px;
        }
    }
}

/* DESKTOP */

@media screen and (min-width: 992px) and (max-width: 1023px){
    .nosotros__header,
    .servicios__header,
    .contacto__header{
        .cajon{
            h1{
                font-size: 1.8em;
            }
            p{
                font-size: .7em;
            }
            .boton-principal{
                margin-top: 40px;
                margin-left: 4em;
                transform: scale(1.3, 1.3);
            }
        }
    }
	.promociones{
		max-height: 80vh;
        h2{
            font-size: 1.3em;
        }
	}
	.calidad{
		margin-top: 280px;
        h2{
            font-size: 1.3em;
        }
	}
    .clientes,
    section,{
        h2{
            font-size: 1.3em;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1099px){
    .ubicacion{
        padding-right: 0;
        padding-left: 0;
        ul{
            padding-left: 5px;
        }
    }
}


@media screen and (min-width: 1024px){
	.promociones{
		max-height: 400px;
	}
	.calidad{
		margin-top: 300px;
	}
}


@media screen and (min-width: 1200px){
	.calidad{
		margin-top: 450px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1157px){
    .caja-pediatria{
        padding: 1rem 0;
    }
}
/********** F I N       M  E  D  I  A     Q  U  E  R  I  E  S  **********/