//VARIABLES
$color-main: #00dffa;
$color-background: #06c2cc;
$color-secondary: #43d320;
$color-grey: #e0e5ec;
$color-footer: #313131;
$color-copyright: #1f1f1f;
$color-contacto: #555555;
$color-pink: #fc00ff;
$title-footer: #ccc;
$text-footer: #8a8a8a;
$btn-whatsapp: #4cca5a;
$font-texto: "Ubuntu", sans-serif;


$wrapper:(
	margin: 0 auto,
	max-width: 1200px,
	height: inherit
);